<%- include("./partials/head.ejs", {pageTitle: "Home Page"}) %>
<main class="container my-4">
  <header
    class="row col-xs col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center"
  >
    <h1>Home Page</h1>
  </header>

  
</main>

<%- include("./partials/footer.ejs") %>
